.selector-for-some-widget {
  box-sizing: content-box;
}


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');


body {
  background-color: #FFFFFF;
}


/*стили header*/


.header__menu {
  margin: 33px 0px 0px 0px;
}


@media (min-width: 576px) {
  .header__menu {
    margin: 33px 0px 0px 80px;
  }

}

.header__menu-help {
  .nav__item {
    margin: 33px 0px 0px 0px;
  }
}

.nav__item {
  margin-right: 5px;
}

.menu__nav {
  .nav__item::before {
    content: "";
    display: block;
    position: relative;
    top: -11px;
    background: #FFFFFF;
    border-radius: 1px;
    height: 1px;
  }

  .nav__item:hover::before,
  .nav__item:focus::before{
    background: #F4CE77;
  }

}


%font-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10.125px;
  line-height: 16px;
  color: #4C4C4C;
}

.item__link {
  @extend %font-header;
  height: 13px;

  margin: 0px;
  padding: 0px;
}

.item__link_font_up {
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 14px;
}


.menu-help__nav {
  .nav__item {
    margin-right: 20px;
  }

  .header_logo {
    margin-right: 101px;
  }
  .header_heart {
    margin-right: 0px;
  }

}

.nav__item_gray-line_up::before {
  content: "";
  display: block;
  position: relative;
  top: -8px;
  background: #EFEFEF;
  border-radius: 1px;
  height: 1px;
  }

.header_logo {
  width: 299px;
  height: 43px;
  margin-right: 101px;
}

.header_heart {
  width: 220.08px;
  height: 28.13px;
  background-image: url("../img/header_heart.svg");
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 3px;
  margin-left: 0px;
   a {
    @extend %font-header;
    color: #ffffff;
  }
}




/*стили main*/

/*стили afonskii*/

.main__afonskii {
  margin: 68px 42px 123px 42px;
}

.afonskii__article {
  max-width: 465px;  // *** по макету 465px
  margin-right: 20.78px;
}


.article__quote {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 43.0588px;
  line-height: 52px;
  color: #2B2B2B;
  text-indent: -29px;
}

.quote__mark_gold {
  color: #F4CE77;
}

%font-article {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  color: #4C4C4C;
}

.article__sub {
  @extend %font-article;
  margin: 38px 0px 41px 0px;
  padding: 0px;
  p {
    width: 137px;
    margin: 0px;
    padding: 0px;
  }
}



.article__sub p::before {
  content: "";
  display: block;
  position: relative;
  top: -12.92px;
  left: 77px;
  background: #F4CE77;
  border-radius: 1px;
  height: 1px;
  width: 60px;
}



.article__text {
  @extend %font-article;
}

.article__text::after {
  content: "";
  display: block;
  position: relative;
  bottom: -37px;
  left: 0px;
  background: #F4CE77;
  border-radius: 1px;
  height: 1.08px;
  width: 60px;
}


/* стили help*/

.main__help {
  //display: flex;

  padding: 0px;
  margin: 0px;
}

.box__cell {
  width: 238px;
  height: 462px; // было 460

  margin-right: 10px;
  padding-left: 10px;
  padding-right: 8px;
}

.cell__sum {
 margin: 0px 0px 0px 0px;
}


%font-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 29.8909px;
  //line-height: 130px;
  text-transform: uppercase;
  color: #000000;
}

.title {
  @extend %font-title;
  margin-bottom: 83px;
}

.cell__name {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 24.9412px;
  //line-height: 108px;
  color: #2B2B2B;
  width: 220px;
  height: 33px;

  margin-bottom: 7px;
  margin-top: 48px;

}

.cell__name::before {
  content: "";
  display: block;
  position: relative;
  top: -13.92px;
  left: 0px;
  background: #F4CE77;
  border-radius: 1px;
  height: 1.08px;
  width: 60px;
}

.cell__txt {
  @extend %font-article;
  margin-bottom: 0px;
}


%font-help {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10.125px;
  line-height: 16px;
  color: #4C4C4C;
}

.cell__det {
  //width: 63px;
  height: 14px;
  margin-bottom: 18px;
  line-height: 0px;

}


.help_det-link {
  @extend %font-help;
}

.help_det-link::after {
  content: "";
  display: block;
  position: relative;
  bottom: 0px;
  left: 160px;
  background: #F4CE77;
  border-radius: 1px;
  height: 1.08px;
  width: 60px;
}

.cell__img {
  margin-bottom: 18px;
}

.sum {
  margin-bottom: 3.86px;

}
.collect {
  @extend %font-help;
  line-height: 14px;
  margin-bottom: 2px;

}

.left_rouble,
.right_rouble {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14.3571px;
  line-height: 19px;
  margin: 0px;
  padding: 0px;
}

.left_rouble {
  color: #F4CE77;
}

.right_rouble {
  color: #E20613;
}

.sum__line {
  height: 9px;
  line-height: 0px;
  margin-bottom: 20px;
}

.help_link-heart {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12.0548px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #CA030F;
}

.cell__heart {
  width: 220.08px;
  height: 29px;
  background-image: url("../img/cell__heart.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 3px;
  margin: 0px;
  a {
    @extend %font-header;
    color: #CA030F;
  }
}

.help_link-heart {
  text-align: center;
  text-transform: uppercase;
}

/* стили левой ячейки с серой границей*/

.box__cell_border_grey {
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 2px;
}

.cell__sum_orange {
  background: #F4CE77;
  border-radius: 2px;

  background-image: url("../img/heart_already.jpg");
  background-repeat: no-repeat;
  background-position: right 7px top 8px;

  width: 221px;
  height: 48px;

  .left_collect {
    margin: 2px 0px 2px 6px;
  }

  .right_rouble {
    margin: 0px 0px 7px 6px;
  }

}


/* конец стилей левой ячейки с серой границей*/
.need__all {
  max-width: 710px;
  margin-top: 36.87px;
}

.already__all {
  margin-top: 40px;
}

.all_line {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10.125px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #4C4C4C;

  p {
    width: 140px;
    height: 14px;
  }

  p::before {
    content: "";
    display: block;
    position: relative;
    bottom: 7.92px;
    left: -79px;
    background: #EFEFEF;
    border-radius: 1px;
    height: 1.08px;
    width: 219px;
  }

  p::after {
    content: "";
    display: block;
    position: relative;
    bottom: -5px;
    left: 80px;
    background: #F4CE77;
    border-radius: 1px;
    height: 1.08px;
    width: 60px;
  }

}

.help__need,
.help__already {
  padding: 0px;
}


  /*стили news*/

.main__box-news {
  margin-top: 112px;
}

.box-news__container {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.box-news__title {
  @extend %font-title;
}

.container__news {
  width: 220px;
  margin: 0px 20px 47.92px 0px;

}

.news___title {
  width: 140px;
  margin-right: 20px;
  margin-bottom: 32px;
}

.news___title::after {
  content: "";
  display: block;
  position: relative;
  bottom: 0px;
  left: 0px;
  background: #F4CE77;
  border-radius: 1px;
 height: 1.08px;
  width: 60px;
}


.news___title h3{
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #4C4C4C;

 }

.title_line-height_little {
  line-height: 21px;
}

.title_line-height_big {
  line-height: 75px;
}


.news__txt {
  @extend  %font-article;
  margin-bottom: 8px;

}

.news__dat {
  width: 60px;
  height: 74px;
  margin-bottom: 16.92px;

  background-image: url("../img/news__dat.jpg");
  background-repeat: no-repeat;
  background-position: center top ;
}

.dat__day {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 43.1511px;
  line-height: 45px;
  text-align: center;
  color: #4C4C4C;
  width: 58px;
  height: 45px;
  margin: 0px;

  text-align: center;
}

.dat__mon {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #4C4C4C;
  width: 58px;
  height: 16px;
}

.news__more {

  margin-bottom: 0px;
  line-height: 0px;
  width: 100%;

}

.news__more a{
  @extend %font-help;
  width: 63px;
  height: 14px;
  text-align: center;
  }

.news__more a::after {
  content: "";
  display: block;
  position: relative;
  bottom: -7px;
  left: 0px;
  background: #F4CE77;
  border-radius: 1px;
  height: 1.08px;
  width: 60px;
}



/* стили footer */

.footer {
  background-color: #f2f2f2;
  padding: 0px;
  margin: 0px;
  display: flex;

  padding-right: 42px;
  padding-left: 42px;



  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;



}

@media (min-width: 576px) {
  .footer {
    padding-right: 42px;
    padding-left: 42px;
  }

}

.inf__rul a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10.125px;
  line-height: 6px;
  color: #4C4C4C;
}

.footer__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10.125px;
  line-height: 11px;
  color: #4C4C4C;
}

.footer__inf {
  max-height: 117px;
  max-width: 299px;

  margin-bottom: 20px;
}

.footer__menu {

  margin: 0px;
  padding: 0px;
}

@media (min-width: 576px) {
  .footer__menu {
    max-height: 75px;
    max-width: 206px;
  }

  .menu__nav_footer {
    max-height: 45px;
    max-width: 206px;
  }

}



.footer__contacts {
  max-height: 104px;
  max-width: 245px;


  margin: 0px;
  padding: 0px;



}

.tel__num a{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24.8276px;
  line-height: 39px;
  text-align: right;
  color: #4C4C4C;
}

.addr__vrn a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10.125px;
  line-height: 16px;
  text-align: right;
  color: #4C4C4C;
}

.contacts__tel,
.footer__addr,
.footer__soc {
  margin: 0px;
  padding: 0px;

}